#styleNav {
	       height: 100%;
             width: 0;
             position: 'fixed';
             z-index: 1;
             top: 0;
             left: 0;
             background-color: #808e95;
             overflow-x: 'hidden';
             transition: '0.5s';
             padding-top: '60px';
		}


@media screen and (max-height: 450px) {
  #sideNav {padding-top: 15px;}
  #sideNav a {font-size: 18px;}
}

#sideNav a:hover {
    color: #666666;
}

#sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*#spanMenu {
    transition: margin-left .5s;
    padding: 16px;
}